* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.8;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

h1, h3, h3 {
    margin: 0;
    line-height: 1;
}

