* {
    box-sizing: border-box;
    padding: 0;
    margin: 10;
    
}

body {
    background-image: linear-gradient(dodgerBlue,slateblue);   
    
}

.intro{
    width: 100%;
    padding: 100px 0px;
    display: flex;
    
}

.intro-h2{
    align-items: center;
    font-size: 75px;
    color: linear-gradient(yellow, red);
}
.intro-img{
    height: auto;
    width: 500px;
    margin-left: 30px;
    align-items: center;
}
